body {
  background-color: #FFFFEF;
}

.home {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
